@import "./home.scss";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.h-85{
    height: 85%;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: black;
    width: 1px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border: 2px solid #ccc;
}

/* Set the scrollbar width and height */
::-webkit-scrollbar-thumb {
    width: 8px;
    height: 75px;
}

.black-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: black;
    width: 4px;
}

.black-scroll::-webkit-scrollbar-thumb {
    background: #000;
    border: 8px solid #000;
}

/* Set the scrollbar width and height */
.black-scroll::-webkit-scrollbar-thumb {
    width: 5px;
    height: 75px;
}

#black {
    background-color: none;
    color: black;
    filter: brightness(1) invert(1);
}

.c-ms{
    margin-left: auto;
    margin-right: auto;
}
.mv{
    margin-top: auto;
    margin-bottom: 2.5%;
}

.c-w-15{
    width: 15%;
}

.w-35{
    width: 35%;
}

.r-n{
    resize: none;
}

.h-90{
    height: 90%;
}

.w-40{
    width: 40%;
}