@import "./home.scss";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.c-h-85{
    height: 85%;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: black;
    width: 1px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border: 2px solid #ccc;
}

/* Set the scrollbar width and height */
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 75px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: none;
    color: black;
    filter: brightness(1) invert(1);
}

.c-ms{
    margin-left: auto;
    margin-right: auto;
}

.c-w-15{
    width: 15%;
}